@model Contact
@{
    ViewData["Title"] = "Contact Details";
}

<h2>Contact Details</h2>
<dl class="row">
    <dt class="col-sm-2">First Name</dt>
    <dd class="col-sm-10">@Model.FirstName</dd>

    <dt class="col-sm-2">Last Name</dt>
    <dd class="col-sm-10">@Model.LastName</dd>

    <dt class="col-sm-2">Phone</dt>
    <dd class="col-sm-10">@Model.Phone</dd>

    <dt class="col-sm-2">Email</dt>
    <dd class="col-sm-10">@Model.Email</dd>

    <dt class="col-sm-2">Category</dt>
    <dd class="col-sm-10">@Model.Category</dd>
</dl>

<div class="form-group">
    <a asp-controller="Contact" asp-action="Edit" asp-route-id="@Model.ContactId" class="btn btn-primary">Edit</a>
    <a asp-controller="Contact" asp-action="Delete" asp-route-id="@Model.ContactId" class="btn btn-danger">Delete</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Home</a>
</div>

